*,
*::before,
* ::after {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    line-height: 1.2;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

a {
    text-decoration: none;
}