.fz-24 {
    font-size: 24px;
}

.p-32 {
    padding-left: 32px;
    padding-right: 32px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-28 {
    margin-bottom: 28px;
}

.mb-64 {
    margin-bottom: 64px;
}

.m-40 {
    margin-top: 40px;
    margin-bottom: 40px;
}

.gray-color-600 {
    color: $gray-600;
}

.gray-color-900 {
    color: $gray-900;
}