<!-- pagination -->

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-end align-items-center">
        <li class="page-item">
            <a class="page-link text-success" href="#" aria-label="Previous">
                <span class="material-icons sr-only d-flex align-items-center">
                    navigate_before
                </span>
            </a>
        </li>
        <li class="page-item"><a class="page-link text-success d-block" href="#">1</a>
        </li>
        <li class="page-item "><a class="page-link text-success d-block" href="#">2</a></li>
        <li class="page-item "><a class="page-link text-success d-block" href="#">3</a></li>
        <li class="page-item">
            <a class="page-link text-success" href="#" aria-label="Next">
                <span class="material-icons sr-only d-flex align-items-center">
                    navigate_next
                </span>
            </a>
        </li>
    </ul>
</nav>