.admin-page {
    width: calc(100% - 296px);
    padding: 32px;

    .add-icon {
        color: $success;
    }

    .search,
    .advice:hover {
        color: $gray-600;
    }

    .add-link:hover {
        color: $success;
    }

    .admin-list {

        // 清除 BS 預設值 ( 第一條線 )
        .test {
            border-bottom-width: 0;
        }

        thead {
            tr {
                border-bottom: 3px solid $gray-600;

                &th:first-child {
                    border-bottom-width: 0;

                }
            }
        }

        tbody {

            th,
            td {
                font-weight: 400;
                padding: 16px 0;
            }
        }

        .icon-arrow-downward {
            font-size: 16px;
            color: $success;
        }
    }

    .cursor {
        cursor: pointer;
    }
}