.modal-header {
    border-bottom: 0;
}

.modal-img {
    width: 141px;
    height: 141px;
    object-fit: cover;
}

.modal-content {
    padding: 32px;
}

.accordion-button {
    width: 24px;
    height: 24px;
    padding: 0;
    margin-left: auto;
}

.admin-btn {
    border-radius: 2px;
}

.accordion-body {
    padding: 0;
}

.accordion {
    --bs-accordion-btn-focus-box-shadow: 0;
    --bs-accordion-active-bg: #fff;
}